@font-face {
	font-family: 'Poppins';
	src: local('Poppins'), url(./fonts/Poppins-Bold.eot);
	src: local('Poppins'), url(./fonts/Poppins-Bold.eot?#iefix) format('embedded-opentype'),  
	url(./fonts/Poppins-Bold.woff2) format('woff2'),  
	url(./fonts/Poppins-Bold.woff) format('woff'),  
	url(./fonts/Poppins-Bold.ttf) format('truetype'),  
	url(./fonts/Poppins-Bold.svg#Poppins-Bold) format('svg');
	font-weight: bold;
	font-style: normal;
} 

@font-face {
	font-family: 'Poppins';
	src: local('Poppins'), url(./fonts/Poppins-Regular.eot);
	src: local('Poppins'), url(./fonts/Poppins-Regular.eot) format('embedded-opentype'),  
	url(./fonts/Poppins-Regular.woff2) format('woff2'),  
	url(./fonts/Poppins-Regular.woff) format('woff'),  
	url(./fonts/Poppins-Regular.ttf) format('truetype'),  
	url(./fonts/Poppins-Regular.svg) format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
  font-family: 'Poppins'; 
}
body {  
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #707B8E; 
  padding-top: 76px;
  background-color: #FBFBFD;	
}
body, html {
    position: relative;
  }
a {
  color: #E58309;
  text-decoration: none;
  
}

a:hover, a:focus {
  color: #FCC000;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Poppins';
  margin-bottom: 0.5rem;
  font-weight: bold;
  line-height: 1.2;
  color: #273C63;	
}
 /* Global Button Styles */

.btn-primary:link:after, .btn-primary:visited:after, .btn-success:link:after, .btn-success:visited:after  {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
.btn-primary:link:hover, .btn-primary:visited:hover, .btn-success:link:hover, .btn-success:visited:hover {	
	text-shadow: none;
}
.btn-primary:link:hover:after, .btn-primary:visited:hover:after, .btn-success:link:hover:after, .btn-success:visited:hover:after {
	height: 450%;
}
.btn-primary:link, .btn-primary:visited, .btn-success:link, .btn-success:visited {
	position: relative;	
	text-decoration: none;	
	overflow: hidden;	
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
/* Global Button Styles */
/* primary */
.btn-primary, .btn-primary.focus, .btn-primary:focus {
	color: #fff;
	cursor: pointer;	
	position: relative;
	border-color: #F29016 !important;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	background: #F29016 !important;
	box-shadow:none;
}

.btn-primary:hover:before, .btn-success:hover:before   {
	right: 0%;
	left: auto;
	width: 100%;
}
.btn-primary:before  {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #fff !important;
	background: #F15D26;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	border-radius: .3rem;
}
/* button hover custom */
 .btn-primary:hover {	
	color: #fff !important;
	background: #F15D26;
	border-color: #F15D26 !important;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	border-radius: .3rem;
    -webkit-transform: scale(1.0);
	transform: scale(1.0);
	-webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
	transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
/* button hover custom */
/* primary */
/* btn succces */
.btn-success, .btn-success.focus, .btn-success:focus {
	color: #fff;
	cursor: pointer;	
	position: relative;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	box-shadow:none;
	background-color: #28a745;
    border-color: #28a745;
}
.btn-success:before  {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #fff !important;
	background-color: #218838;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	border-radius: .3rem;
}
.btn-success:hover {
	background-color: #218838;
    border-color: #1e7e34;
	color: #fff !important;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	border-radius: .3rem;
    -webkit-transform: scale(1.0);
	transform: scale(1.0);
	-webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
	transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
/* btn succces */
.btn-lg {
	padding: 0.58571429em 1.5em 0.58571429em;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.avatar-img-main {
		width: 54px;
	}
	.t-avatar-img-main {
		width: 80px;
	}
	.ie-dflex {
		display: flex;
	}
	.ie-dblock {
		display: block;
	}
}
@supports (display:-ms-grid) {
	.ie-dflex {
		display: flex;
	}	
}

@media (min-width: 300px) and (max-height: 360px) and (orientation: landscape) {	
	.fixed-top .navbar-collapse {
		max-height: 261px;
	}
}

@media only screen and (min-width: 300px) and (max-width: 991px) and (orientation: portrait)  {
	.fixed-top .navbar-collapse {
		max-height: 400px;
	}
		
}
@media only screen and (max-width: 359px) {
	.top-bar .custom-phone-icon, .top-bar .custom-envelope-icon {
    	display: none;
	}
}

@media only screen and (max-width: 767px) {
	.xs-mrb30 {
		margin-bottom: 30px;
	}
	
	.home-head-1 {
		font-size: 27px;
		color: #ffffff;
		line-height: 1.5;
	}
	
	.navbar-dark .navbar-nav .nav-link {
	   color: #ffffff;
	}
	
	.navbar-collapse.show {
		overflow-y: auto;
	}
	
	.feature-text-main {		
		margin:45px auto;
		text-align: center;
	}
	
}
@media only screen and (min-width: 768px) and (max-width: 991px) {	
	
	.md-mrb30 {
		margin-bottom: 30px;
	}
	.home-head-1 {
		font-size: 34px;
		color: #ffffff;
		line-height: 1.5;
	}
		
	.navbar-dark .navbar-nav .nav-link {
	   color: #ffffff;
	}
	
	.navbar-collapse.show {
		overflow-y: auto;
	}
	
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {	
	
	.home-head-1 {
		font-size: 43px;
		color: #ffffff;
		line-height: 1.5;
	}
	.animate {
		animation-duration: 0.3s;
		-webkit-animation-duration: 0.3s;
		animation-fill-mode: both;
		-webkit-animation-fill-mode: both;
	  }
	
	.navbar-expand-lg .navbar-nav .nav-link {
		margin-right: 20px;
		margin-left: 20px;
		padding-right: 0;
		padding-left: 0;
	}
	
}
@media only screen and (min-width: 1200px) {
	.xl-mt-50 {
		margin-top: 50px;
	} 
	.home-head-1 {
		font-size: 43px;
		color: #ffffff;
		line-height: 1.5;
	}
	
	.animate {
		animation-duration: 0.3s;
		-webkit-animation-duration: 0.3s;
		animation-fill-mode: both;
		-webkit-animation-fill-mode: both;
	  }
	
	.navbar-dark .navbar-nav .nav-link  {
		font-family: 'Poppins';
		font-size: 18px;
		font-weight: normal;
		color: #ffffff; 
	}
		
	.navbar-expand-lg .navbar-nav .nav-link {
		margin-right: 20px;
		margin-left: 20px;
		padding-right: 0;
		padding-left: 0;		
	}		
}

.common-block {
	padding: 45px 0;
}

.inline-block {
	display: inline-block !important;
}

/* footer */

.mrb10 {
	margin-bottom: 10px !important;
}
.mrb30 {
	margin-bottom: 30px !important;
}

.footer-main {
  background: #2B2622;
  color: #FFFFFF;  
  padding: 45px 0 25px;
	
}
.footer-head {
	font-size: 1.25rem;
	color: #FFFFFF; 
	font-weight: bold;
	margin-bottom: 15px;
}
.footer-links li {
	margin-bottom: 10px;
}
.footer-links li a, .faddres a {
	color: #FFFFFF;
	font-weight: normal;
	text-decoration: none;
}
.footer-links li a:hover, .footer-links li a:focus, .footer-links li a.active, .faddres a:hover, .faddres a:focus {
	color: #FFDC00;
}
.faddres p {
    margin-bottom: 10px;
    padding-left: 31px;
    position: relative;
	word-wrap: break-word;
}
.faddres i {    
    display: inline-block;
    font-size: 16px;    
    left: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 5px;
    
}
.social-icons-main {
	position: relative;
}
.social-link {
	font-size: 18px;
	padding:8px;
	border: none;
	line-height: 1.1;
	background-color: #FFFFFF;
	text-align: center;
	cursor: pointer;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 25px;
	display: inline-block;
	
	
}
.social-link i {
	margin: 0 !important;
	width: 20px !important;
	height: 20px !important;
	line-height: 20px !important;
	position: relative;
	display: block;
	
}
.social-link:hover {
	background-color: #FFDC00;
}

.copyright-main {
    text-align: center;
    margin: 25px 0 0;
}
.copy-link {
	color: #FFFFFF;
}
.copy-link:hover, .copy-link:active, .copy-link:focus {
	color: #FFB940;
}
/* footer */


.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
    color: #ffffff;
}



.dropdown-item {
	color: #273C63;
}
.dropdown-item:focus, .dropdown-item:hover{
    color:#E44600;
	background-color:transparent;
}
.navbar-dark .navbar-toggler {
    border-color:rgb(255, 255, 255,1);

}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-collapse.show .nav-item:last-child {
	margin-top: 5px;
	margin-bottom: 10px;
}

.fixed-top {
    top: 0;	 
}

.header-inner {
    width: 100%;
    position: reltive;	
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active {
    color:#FFDC00;
	border-bottom: 4px solid #FFDC00;
}
/* navbar */
/* back-to-top */
#back-to-top {
	position: fixed;
	bottom: 14px;
	right: 14px;
	display: block;
	width: 32px;
	height: 32px;
	padding: 2px 0 0;
	text-align: center;
	z-index: 1150;
	cursor: pointer;
	-moz-opacity: 0;
	-khtml-opacity: 0;
	-webkit-opacity: 0;
	opacity: 0;
	-ms-filter: alpha(opacity=0);
	filter: alpha(opacity=0);
	-webkit-transition: all ease-in-out .3s;
	-moz-transition: all ease-in-out .3s;
	-o-transition: all ease-in-out .3s;
	-ms-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
	visibility: visible
}
#back-to-top i {
	line-height: normal;	
}
.customicons-backtotop-icon {
	background-position: -200px 0;
	height: 16px;        
    width: 16px;
}
#back-to-top.active {
	-moz-opacity: 1;
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;
	-ms-filter: alpha(opacity=100);
	filter: alpha(opacity=100)
}
/* back-to-top */

.animate-top{ position:relative;animation:animatetop 0.4s} @keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
 


/* new prj */
/* mt list*/
.header-inner {
	 -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
	background-color: #2B2622;
}

.navbar-brand {
	padding-top: .5125rem;
	padding-bottom: .55125rem;
}
.navbar-dark .navbar-nav .nav-link  {
	font-family: 'Poppins';
	font-size: 18px;
	font-weight: normal;
	color: #ffffff; 
	border-bottom: 4px solid transparent;
}
[class^="customicons-"], [class*="customicons-"] {
	background-image:url(./Images/sprite.png);
	background-repeat:no-repeat;	
	display: inline-block;    	
	vertical-align: middle;
}
.customicons-search-icon {
	background-position: -217px 0;
	height: 20px;        
    width: 20px;
}
.customicons-facebook-icon {
	background-position: 0 0;
	height: 20px;        
    width: 20px;
}
.social-link:hover .customicons-facebook-icon {
    background-position: -100px 0;
}
.customicons-twitter-icon {
	background-position: -20px 0;
	height: 20px;        
    width: 20px;
}
.social-link:hover .customicons-twitter-icon {
    background-position: -120px 0;
}
.customicons-google-plus-icon {
	background-position: -40px 0;
	height: 20px;        
    width: 20px;
}
.social-link:hover .customicons-google-plus-icon {
    background-position: -140px 0;
}
.customicons-instagram-icon {
	background-position: -60px 0;
	height: 20px;        
    width: 20px;
}
.social-link:hover .customicons-instagram-icon {
    background-position: -160px 0;
}
.customicons-linkedin-icon {
	background-position: -80px 0;
	height: 20px;        
    width: 20px;
}
.social-link:hover .customicons-linkedin-icon {
    background-position: -180px 0;
}
.customicons-trophy-icon {
	background-position: -237px 0;
	height: 16px;        
    width: 16px;
    margin-top: -3px;
}
.customicons-answersheet-icon {
	background-position: -273px 0;
	height: 20px;        
    width: 20px;
}
.customicons-printer-icon {
	background-position: -253px 0;
	height: 20px;        
    width: 20px;
}
.mt-search .mt-form {
    position: relative;
    width: 100%;    
}
.mt-search .mt-form .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    font-family: inherit;
    background: #ffffff;
    border: 1px solid #eef0fd;
    border-radius: 5px;
    padding: 8px 50px 8px 20px;
    color: #273C63;
    height: 52px;
}

.mt-search .mt-form .mt-btn {
    position: absolute;
    right: 15px;
    z-index: 10;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.mt-search .mt-form .mt-btn button {
    background-color: transparent;
    border: none;
    outline: none;    
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
/* box */
.white-box {
	border-radius: .25rem;
	padding: 25px 20px 20px;
	margin-bottom: 30px;	
	position: relative;
	overflow: hidden;
	flex-grow: 1;
	background: #ffffff;	
  -webkit-box-shadow: 0px 1px 4px 0px rgba(1, 10, 64, 0.1);
          box-shadow: 0px 1px 4px 0px rgba(1, 10, 64, 0.1);
}
.white-box:hover {
	-webkit-box-shadow: 0px 20px 40px 0px rgba(1, 10, 63, 0.1);
          box-shadow: 0px 20px 40px 0px rgba(1, 10, 63, 0.1);	
}
.white-box:hover:before {
    width: 100%;
}
.white-box:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 0%;
    height: 4px;
    background: #F29015;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

}

.mt-head {
	font-size: 20px;
	color: #F29015;
	margin-bottom: 5px;
}
.mt-head:hover, .mt-head:focus {
	color: #FCBF00;
}

.teacher-date-text {
	font-size: 13px;
	font-family: 'Poppins';
    color: #707B8E;
	margin-bottom: 5px;
}
.mt-price {
	color: #273C63;
	font-family: 'Poppins';
	font-size: 18px;
	font-weight: bold;
}


.mt-tags a {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 3px;
    padding: 4px 25px;
    font-size: 14px !important;
    font-weight: 500;
    line-height: 26px;
    font-family: 'Poppins';
    color: #273C63;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 18px;
    background: #f0f2f9;
}
.mt-tags a:hover {
    background: #E58309;
    color: #fff;
}
/* box */
.page-item.active .page-link {
	background-color: #F29016;
	border-color: #F29016;
}
.page-link {   
    color: #F29016;   
}
.page-link:hover {    
    color: #ffffff;    
    background-color: #F29016;
    border-color: #F29016;
}
/* mt list*/
/* home*/
.coffee-block {
	background: #2B2622;
	padding: 45px 0;
} 

.home-head-2 {
	font-size: 20px;
	color: #ffffff;
	line-height: 1.5;
}
/* home*/
/* result */
.badge-time {
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: .3rem;
    margin-right: 10px;    
    margin-bottom: 0;    
    padding: 0.58571429em 1.5em 0.58571429em;
	background-color: #F21515;
	color: #ffffff;
	border: 1px solid transparent;
	font-weight: normal;
}
.white-box-no-animate {
	border-radius: .25rem;	
	margin-bottom: 30px;	
	position: relative;
	overflow: hidden;
	flex-grow: 1;
	background: #ffffff;	
  -webkit-box-shadow: 0px 1px 4px 0px rgba(1, 10, 64, 0.1);
          box-shadow: 0px 1px 4px 0px rgba(1, 10, 64, 0.1);
}
.mtd-topbar {
	padding: 20px 20px 0;
}

.mb-20 {
	margin-bottom: 20px;
}
.avatar-img-main {
	max-width: 54px;
	max-height: 54px;
}
.badge-mt-custom {
	color: #fff;
	font-weight: normal;
	font-size: 16px;
	background-color: #40291A;
	padding: .5em .75em;
}
.p-20 {
	padding: 20px;
}
/* mt result */
.mt-username {
	font-size: 18px;
	font-weight: bold;
	color:#273C63;
	margin-bottom: 20px;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 1px;
}
.table {
    color:inherit;
}
.table thead th {
	color:#273C63;
}

/* mt result */
/* teacher profile */
.tp-avatar-img-main {
	max-width: 100px;
	max-height: 100px;
}
.tp-name {
	color:#273C63;
	font-size: 22px;
	font-weight: bold;
}
.tp-degree {
	font-size: 18px;
}
.tp-tab {
	padding: 10px 20px 0 0;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #F29015;
    background-color: transparent;
    font-weight: bold;
    border-bottom: 4px solid #F29015;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    padding-bottom: 15px;
	margin-right: 20px;
	margin-left: 20px;
}
.nav-pills .nav-link {
    border-radius: 0;
    font-size: 18px;
    color: #273C63;
    font-weight: bold;
}
.tp-head-sm {
	 font-size: 16px;
    color: #273C63;
    font-weight: bold;
	margin-bottom: 20px;
}

/* teacher profile */
/* teachers*/
.t-avatar-img-main {
	max-width: 80px;
	max-height: 80px;
}
.t-name {
	color:#F29015;
	font-size: 18px;
	font-weight: bold;
}
.t-mock-test {
	 font-size: 16px;
    color: #273C63;
	font-weight: bold;
}
.teacher-block {
	padding: 20px;
	border-bottom: 1px solid #DDDDDD;
}
.teacher-block:last-child {
	border-bottom: none;
}
/* teachers*/
/* faq */

.card-header.faq-header {
	background-color: #ffffff !important;
	padding: .5rem !important;
}
.card-header.faq-header .btn-link, .card-header.faq-header .btn-link:focus {
	font-size: 18px;
	text-decoration: none;
	color: #E58309;	
	display: block;
	text-align: left;
}
.card-header.faq-header .btn-link:hover  {
	font-size: 18px;
	text-decoration: none;
	color: #FCBF00;	
}
.faq-header .btn-link:after {
    float: right; 
	content: "−";
	font-size: 26px;
	line-height: 26px;
	
}
.faq-header .btn-link.collapsed:after {
	content: "+";
	font-size: 26px;
	line-height: 26px;
}
/* faq */
/* sign in*/
.login-main {
	max-width: 396px;
	margin: 54px auto;
}
/* new prj */
